<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants Manager</title>
  </head>
  <body>
  <h1>My Restaurants</h1>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name %> <%= restaurant.address %> <%= restaurant.phone_number %> <%= restaurant.category %>
    </li>
  <% end %>
  </ul>
  </body>
</html>
